---
import CalendarIcon from '@lucide/astro/icons/calendar-check';
---

<section class="px-4 pb-4">
  <div
    class="max-w-[620px] mx-auto w-full flex items-center gap-4 bg-white/[8%] rounded-[28px] px-7 py-6 text-[#DDD] text-base md:text-lg"
  >
    <CalendarIcon class="size-6 text-[#604EE9] shrink-0" aria-hidden="true" />
    <p>
      Após enviar, você será direcionado para agendar o melhor horário para
      nossa conversa.
    </p>
  </div>
</section>
