---
import Footer from '@/components/footer.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Solicite sua Análise Gratuita | Ei Chefe Ads"
  description="Descubra onde você está perdendo dinheiro nas suas campanhas e como escalar resultados com o mesmo investimento. Solicite uma análise gratuita das suas campanhas de tráfego pago."
  canonical="https://eichefeads.com.br/analise-gratuita"
>
  <main class="bg-[#030406] flex flex-col">
    <Footer className="mt-20" />
  </main>
</Layout>
