---
import Clients from '../components/clients.astro';
import Footer from '../components/footer.astro';
import FrequentlyAskedQuestions from '../components/frequently-asked-questions.astro';
import ImpactHeader from '../components/impact-header.astro';
import LetMeExplain from '../components/let-me-explain.astro';
import Metrics from '../components/metrics.astro';
import Plans from '../components/plans.astro';
import WhoAmI from '../components/who-am-i.astro';
import WhyMe from '../components/why-me.astro';
import Layout from '../layouts/Layout.astro';

import { TailwindIndicator } from '@/components/tailwind-indicator';
import { TestimonialsSection } from '@/components/testimonials-section';
import Hero from '../components/hero.astro';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <ImpactHeader
    className="max-w-[912px] mx-auto w-full xl:pt-[60px] xl:mb-20 mb-[116px]"
  />
  <Metrics className="md:mb-[116px] mb-[120px] px-4" />
  <Clients className="px-4 mb-[120px]" />
  <LetMeExplain className="max-w-[1629px] mx-auto w-full" />

  <div class="space-y-[116px]">
    <div class="px-4 space-y-[116px]"></div>
    <Plans />
    <!-- <div class="-mt-[116px]"> -->
    <!-- <FormContact /> -->
    <!-- </div> -->
    <WhoAmI />
    <WhyMe />
    <TestimonialsSection />
    <FrequentlyAskedQuestions />
    <Footer />
  </div>
  <TailwindIndicator />
</Layout>
