---
interface Props {
  className?: string;
}

import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import autonoveLogo from '../assets/logos/autonove-logo.webp';
import donutsLogo from '../assets/logos/donuts.webp';
import giaiLogo from '../assets/logos/gai-logo.webp';
import point from '../assets/point.svg';

const { className } = Astro.props;
---

<div class={cn('flex flex-col gap-8', className)}>
  <div class="max-w-[827px] mx-auto">
    <div
      class="flex items-center px-4 pt-2 gap-2 mx-auto bg-[#EFEFEF] max-w-max rounded-[6px]"
    >
      <img src={point.src} alt="Point" />
      <span class="text-base font-medium leading-[19.2px] text-[#333]"
        >Como posso te ajudar</span
      >
    </div>
    <h2
      class="font-light italic text-[48px] leading-[60px] text-center text-black"
    >
      Como as melhores empresas se beneficiam do tráfego pago
    </h2>
  </div>
  <div
    class="max-w-[1620px] mx-auto grid grid-cols-1 md:grid-cols-2 md:auto-cols-[510px] xl:grid-cols-3 gap-10"
  >
    <div class="space-y-8">
      <Image
        src={donutsLogo}
        alt="Manda Donuts"
        class="w-full h-[360px] rounded-3xl max-w-[510px]"
        loading="lazy"
      />
      <div class="space-y-2">
        <h3
          class="text-[#777777] text-[32px] font-normal leading-[100%] italic"
        >
          Manda Donuts
        </h3>
        <p
          class="leading-[115.99999999999999%] font-normal text-xl text-[#1C1C1C]"
        >
          A Loja de Donuts
          <span class="font-semibold text-[#151515]">
            iniciou investindo por mês R$500, retorno de R$7,49 em média ROAS +
            Aumento de faturamento na loja. Ela investiu R$1.304 em anúncios e
            teve um retorno de faturamento de R$9.777 captado pelo meta ads em 3
            mês.
          </span>
        </p>
      </div>
    </div>
    <div class="space-y-8">
      <Image
        src={autonoveLogo}
        alt="Autonove Multimarcas"
        class="w-full h-[360px] rounded-3xl max-w-[510px]"
        loading="lazy"
      />

      <div class="space-y-2">
        <h3
          class="text-[#777777] text-[32px] font-normal leading-[100%] italic"
        >
          Autonove Multimarcas
        </h3>
        <p
          class="leading-[115.99999999999999%] font-normal text-xl text-[#1C1C1C]"
        >
          Loja de carros em São Paulo, 56 carros vendidos dentro de 1 mês. Foram
          26 carros vendidos através somente dos anúncios pagos. Resultado de
          Tráfego Pago, o valor investido total foi R$5.300 no google e
          facebook, 483 contatos gerados para whatsapp, o custo por contato
          entre 8 a 12 reais, além de um
          <span class="font-semibold text-[#151515]">
            alcance com +225.666 mil pessoas e 380 mil impressões dos
            patrocinados.
          </span>
        </p>
      </div>
    </div>
    <div class="space-y-8">
      <Image
        src={giaiLogo}
        alt="Gài Arquitetura e Interiores"
        class="w-full h-[360px] rounded-3xl max-w-[510px]"
        loading="lazy"
      />
      <div class="space-y-2">
        <h3
          class="text-[#777777] text-[32px] font-normal leading-[100%] italic"
        >
          Gài Arquitetura e Interiores
        </h3>
      </div>
      <p
        class="leading-[115.99999999999999%] font-normal text-xl text-[#1C1C1C]"
      >
        Escritório novo de arquitetura fechou
        <span class="font-semibold text-[#151515]">
          R$ 62.077 em projetos investindo R$1.454 em 3 meses, um ROAS 42,68.
        </span>
        Trabalhando campanhas de reconhecimento de marca e conteúdos informativos
        e valor no Instagram, sem site. “Apenas” com um atendimento fazendo qualificações
        dos contatos foram capazes de gerar 41 reuniões e 5 projetos fechados.
      </p>
    </div>
  </div>
</div>
