---
interface Props {
  className?: string;
}

import { cn } from '@/lib/utils';
const { className } = Astro.props;
---

<section class={cn('flex flex-col gap-10 px-4 pb-[165px]', className)}>
  <div class="flex flex-col gap-[30px]">
    <div
      class="flex items-center px-4 py-2 gap-2 mx-auto bg-[#EFEFEF] max-w-max rounded-[6px]"
    >
      <img src="/images/point.svg" alt="" />
      <span class="text-base font-medium leading-[19.2px]">
        DÚVIDAS DE CLIENTES
      </span>
    </div>
    <h2 class="font-light text-[60px] leading-[60px] italic text-black">
      Perguntas frequentes
    </h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-12">
    <div class="flex gap-4">
      <div class="flex flex-col gap-[5px] items-center">
        <span class="font-normal text-[#999] text-[12px] leading-[18px]"
          >01</span
        >
        <div class="bg-[#DDD] h-full w-px"></div>
      </div>
      <div class="flex flex-col gap-4">
        <h4
          class="p-5 text-[#888] text-[20px] leading-[24px] font-medium bg-[#F3F3F3] rounded-[15px]"
        >
          Quanto eu devo investir nos anúncios?
        </h4>
        <p class="text-[#333] text-base font-normal leading-[19.2px]">
          Essa pergunta depende da maturidade do seu negócio, se já investiu em
          anúncios e conhece seus custos como custo por contatos ou custo por
          compra. Por isso, para definir um valor ideal é necessário uma análise
          em conjunto com você.
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col gap-[5px] items-center">
        <span class="font-normal text-[#999] text-[12px] leading-[18px]"
          >02</span
        >
        <div class="bg-[#DDD] h-full w-px"></div>
      </div>
      <div class="flex flex-col gap-4 pt-8">
        <h4
          class="p-5 text-[#888] text-[20px] leading-[24px] font-medium bg-[#F3F3F3] rounded-[15px]"
        >
          Como funciona o pagamento?
        </h4>
        <p class="text-[#333] text-base font-normal leading-[19.2px]">
          Como foi falado, existe dois tipo de pagamento. O pagamento da mão de
          obra do serviço de tráfego e o do investimento nas plataformas.
          <br /><br />
          O pagamento da mão de obra é feito de forma pré paga. Definimos o melhor
          dia para o pagamento e com o contrato assinado iniciamos os planejamentos.
          Aceitamos Pix, Cartão de Crédito e Boleto.
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col gap-[5px] items-center">
        <span class="font-normal text-[#999] text-[12px] leading-[18px]"
          >03</span
        >
        <div class="bg-[#DDD] h-full w-px"></div>
      </div>
      <div class="flex flex-col gap-4 pt-16">
        <h4
          class="p-5 text-[#888] text-[20px] leading-[24px] font-medium bg-[#F3F3F3] rounded-[15px]"
        >
          Os resultados são garantidos ?
        </h4>
        <p class="text-[#333] text-base font-normal leading-[19.2px]">
          Infelizmente não posso garantir resultados, pois o meu trabalho como
          gestor de tráfego e parte da sua equipe de marketing é criar as
          melhores estratégias junto com você dono do negócio. Então entregamos
          as pessoas interessadas.
          <br />
          <br />
          Sua parte é converter em vendas no atendimento ou a pessoa finalizar a
          venda pelo site.
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col gap-[5px] items-center">
        <span class="font-normal text-[#999] text-[12px] leading-[18px]"
          >04</span
        >
        <div class="bg-[#DDD] h-full w-px"></div>
      </div>
      <div class="flex flex-col gap-4 pt-[100px]">
        <h4
          class="p-5 text-[#888] text-[20px] leading-[24px] font-medium bg-[#F3F3F3] rounded-[15px]"
        >
          Como funciona o atendimento ?
        </h4>
        <p class="text-[#333] text-base font-normal leading-[19.2px]">
          Reuniões agendadas para entendimento do projetos online ou presencial
          se possível.
          <br />
          <br />
          Comunicação no horário comercial e fora dele é feita por grupo no aplicativo
          do Whatsapp e casos mais urgentes ligações por telefone.
        </p>
      </div>
    </div>
  </div>
</section>
