---
interface Props {
  className?: string;
}

import { cn } from '@/lib/utils';
import Point from '../assets/point.svg';
const { className } = Astro.props;
---

<div class={cn('flex flex-col gap-10', className)}>
  <h3
    class="text-[56px] font-normal italic leading-[100%] text-[#151515] max-w-912px] w-full text-center"
  >
    Quer mais clientes, sem depender da sorte?
  </h3>
  <div
    class="flex flex-col gap-4 max-w-[666px] w-full items-center text-center mx-auto"
  >
    <p
      class="text-[#1a1a1a] text-[32px] md:text-[36px] leading-[115.99999999999999%] text-center font-normal"
    >
      <span class="text-[#3219CA] font-bold text-center">
        + CLIENTES FIÉIS
      </span>
      e não quer depender de indicações ou esperar que as pessoas te encontrem
    </p>
  </div>
  <div
    class="flex items-center px-4 py-2 gap-2 mx-auto bg-[#EFEFEF] max-w-max rounded-[6px]"
  >
    <img src={Point.src} alt="" />
    <span class="text-base font-medium leading-[19.2px]"
      >Preciso te fazer algumas perguntas:</span
    >
  </div>
</div>
