<div>
  <h2>Deixa eu te explicar o que eu faço por você</h2>
  <p>
    Para vender mais utilizando todo o poder das redes sociais, é necessário
    dois tipos de investimento:
  </p>

  <button> CONVERSAR AGORA </button>

  <div>
    <h3>1°</h3>

    <div>
      <p>Investimento em Anúncios</p>

      <span>
        O valor investido para que seus anúncios apareçam nas principais
        plataformas. Sugestão mínima de R$900/mês para resultados consistentes.
      </span>
    </div>
  </div>

  <div>
    <h3>2°</h3>

    <div>
      <p>Minha mão de obra.</p>

      <span>
        O valor que cobro para anunciar seu negócio diretamente para as pessoas
        interessadas em comprar e/ou adquirir seu serviço.
      </span>
    </div>
  </div>
</div>
