---
interface Props {
  className?: string;
}
import { cn } from '@/lib/utils';
import WhatsappButton from './whatsapp-button.astro';
const { className } = Astro.props;
---

<div
  class={cn(
    'flex flex-col gap-[64px] items-center xl:gap-[120px] xl:flex-row px-[16.5px] md:flex md:justify-between',
    className
  )}
>
  <div class="flex flex-col gap-10">
    <div class="space-y-4">
      <h2 class="font-light italic text-5xl leading-[60px] text-black">
        Deixa eu te explicar o que eu faço por você
      </h2>
      <p class="text-[#333] leading-[19.2px] text-base font-normal">
        Para vender mais utilizando todo o poder das redes sociais, é necessário
        dois tipos de investimento:
      </p>
    </div>

    <WhatsappButton />
  </div>

  <div class="max-w-[840px] w-full grid md:grid-cols-2 grid-cols-1 gap-4">
    <div
      class="py-[36.15px] px-6 space-y-[10px] bg-[#1C1C1C] rounded-[40px] h-[600px]"
    >
      <h3 class="font-light leading-[100%] text-[229px] text-white/10">1°</h3>

      <p class="text-[24px] leading-[28.8px] font-bold text-white">
        Investimento em Anúncios
        <br />
        <br />
        <span class="font-normal">
          O valor investido para que seus anúncios apareçam nas principais
          plataformas. Sugestão mínima de R$900/mês para resultados
          consistentes.
        </span>
      </p>
    </div>

    <div
      class="py-[36.15px] px-6 space-y-[10px] bg-[#1C1C1C] rounded-[40px] h-[600px]"
    >
      <h3 class="font-light leading-[100%] text-[229px] text-white/10">2°</h3>
      <p class="text-[24px] leading-[28.8px] font-bold text-white">
        Minha mão de obra.
        <br />
        <br />
        <span class="font-normal">
          O valor que cobro para anunciar seu negócio diretamente para as
          pessoas interessadas em comprar e/ou adquirir seu serviço.
        </span>
      </p>
    </div>
  </div>
</div>
