---
import InstagramIcon from 'simple-icons-astro/Instagram';
import XIcon from 'simple-icons-astro/X';
import YouTubeIcon from 'simple-icons-astro/Youtube';

const links = [
  {
    href: 'https://www.instagram.com/eiluanderson/',
    icon: InstagramIcon,
    label: 'Siga-nos no Instagram'
  },
  {
    href: 'https://x.com/eiluanderson',
    icon: XIcon,
    label: 'Siga-nos no X (Twitter)'
  },
  {
    href: 'https://youtube.com/@eiluanderson',
    icon: YouTubeIcon,
    label: 'Inscreva-se no YouTube'
  }
];
---

<div>
  <span class="text-white leading-[42px] text-[28px] font-normal"
    >Nossas Redes</span
  >
  <div class="flex gap-[5px] items-center justify-center">
    {
      links.map(link => (
        <a
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
          class="p-4 rounded-full border border-white/20"
          aria-label={link.label}
        >
          <link.icon class="w-3.5 h-3.5 text-white" />
        </a>
      ))
    }
  </div>
</div>
