---
import InstagramIcon from 'simple-icons-astro/Instagram';
import XIcon from 'simple-icons-astro/X';
import YouTubeIcon from 'simple-icons-astro/Youtube';

const links = [
  {
    href: 'https://www.instagram.com/eiluanderson/',
    icon: InstagramIcon
  },
  {
    href: ' https://x.com/eiluanderson',
    icon: XIcon
  },
  {
    href: 'https://youtube.com/@eiluanderson',
    icon: YouTubeIcon
  }
];
---

<div>
  <span class="text-white leading-[42px] text-[28px] font-normal"
    >Nossas Redes</span
  >
  <div class="flex gap-[5px]">
    {
      links.map(link => (
        <a
          href={link.href}
          target="_blank"
          class="p-4 rounded-full border border-white/20"
        >
          <link.icon class="w-3.5 h-3.5 text-white" />
        </a>
      ))
    }
  </div>
</div>
