<div>
  <div>
    <h2>Planos para escalar suas vendas → Aceleração de resultados</h2>

    <p>Assessoria de mídia paga</p>

    <button>COMEÇAR UM NOVO PROJETO</button>
    <div>
      <span>Coloco sua empresa na frente de quem está pronto para comprar.</span
      >
      <span
        >Uso o poder dos anúncios online para atrair um fluxo constante de
        clientes, permitindo que você foque no que faz de melhor: gerenciar seu
        negócio.</span
      >
    </div>
  </div>
  <div>
    <div>
      <h3>Quero começar, Chefe</h3>
      <div>
        <span> Planejamento Análise de Dados Planejamento de Crescimento </span>
        Análise de posicionamento de marca Sugestão para conteúdos. Sugestões de
        edições de videos. Sugestão para landing pages (páginas de alta conversão)
      </div>
      <span> Investimento em anúncios até R$2.500/mês </span>
    </div>
    <div>
      <h3>Bora aumentar, Chefe</h3>
      Assessoria de mídia paga Tudo do outro modelo + Assessoria de análise de dados
      🔍 Gestão em multiplataforma de anúncio Configuração de Tags e Pixels Análise
      da velocidade do site realizado trimestral Estudo dos concorrentes Benchmarking
      análise do site e anúncios anual
      <span> Investimento em anúncios até R$2.500/mês </span>
    </div>
    <div>
      Quero Evoluir Modo Especialista
      <div>
        Assessoria de mídia pagaAssessoria de análise de dados Tudo do outro
        modelo + Criação de criativo de imagem com IA (new) Assessoria de vendas
        e resultados no processo comercial Análise da jornada do seu cliente
        para identificação do ICP
      </div>
      <button>exclusivo</button>
      <span
        >1 Treinamento de atendimento/vendas com parceiros estratégicos com foco
        em melhorar a conversão de vendas | ANUAL</span
      >
      <button> Investimento em anúncios até R$5.000/mês </button>
    </div>
  </div>
</div>
