---
import bgPlanCard from '../assets/bg-plan-card.png';
---

<div class="bg-[#030406] py-[150px] px-6">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-10">
      <div class="space-y-6">
        <h2 class="text-white text-[48px] font-light italic leading-[60px]">
          Planos para escalar suas vendas → Aceleração de resultados
        </h2>

        <p class="text-white text-[24px] leading-[28.8px] font-normal">
          Assessoria de mídia paga
        </p>
      </div>
      <button
        class="bg-[#1A1E38] text-[#DDDDDD] rounded-[30px] font-semibold flex justify-center items-center gap-[10px] p-8 text-[26px] leading-[120%]"
      >
        COMEÇAR UM NOVO PROJETO
      </button>
    </div>

    <div class="p-6 flex flex-col gap-6 rounded-[40px] bg-[#1C1C1C]">
      <span
        class="text-white/50 font-bold text-[32px] leading-[115.99999999999999%]"
        >Coloco sua empresa na frente de quem está pronto para comprar.
      </span>
      <p class="text-[24px] leading-[120%] font-normal text-white">
        Uso o poder dos anúncios online para atrair um fluxo constante de
        clientes, permitindo que você foque no que faz de melhor:
        <span class="italic font-medium text-[#604EE9]">
          gerenciar seu negócio.
        </span>
      </p>
    </div>
  </div>
  <div>
    <div class="bg-[#F3F3F3] p-6 rounded-[30px]">
      <h3 class="font-light italic text-[40px] leading-[100%] text-black mb-6">
        Quero começar,
        <span class="font-medium text-[48px]">Chefe</span>
      </h3>
      <div class="mb-10 font-medium text-[20px] leading-[150%] text-[#292D38]">
        <span class="leading-[115.99999999999999%] text-[#3219CA] font-bold"
          >Planejamento Análise de Dados Planejamento de Crescimento
        </span>
        <br />
        <ul>
          <span class="font-bold">Análise de posicionamento de marca </span>
          <li>Sugestão para conteúdos.</li>
          <li>Sugestões de edições de videos.</li>
          <li>Sugestão para landing pages (páginas de alta conversão)</li>
        </ul>
      </div>
      <span
        class="px-[31px] py-4 text-white leading-[120%] text-base font-medium bg-[#151515] border border-[#212529] rounded-[100px]"
      >
        Investimento em anúncios até R$2.500/mês
      </span>
    </div>
    <div class="bg-[#F3F3F3] p-6 rounded-[30px]">
      <h3 class="font-light italic text-[40px] leading-[100%] text-white mb-6">
        Bora aumentar,
        <span class="font-medium text-[48px]"> Chefe </span>
      </h3>
      <div class="mb-10 font-bold text-[20px] leading-[150%] text-[#292D38]">
        <span class="leading-[115.99999999999999%]">
          Assessoria de mídia paga Tudo do outro modelo +
        </span>
        <br />
        <ul>
          <span>Assessoria de análise de dados 🔍 </span>
          <li>Gestão em multiplataforma de anúncio</li>
          <li>Configuração de Tags e Pixels</li>
          <li>Análise da velocidade do site realizado trimestral</li>
          <li>
            Estudo dos concorrentes Benchmarking análise do site e anúncios
            anual
          </li>
        </ul>
      </div>
      <span
        class="px-[31px] py-4 text-white leading-[120%] text-base font-medium bg-[#151515] border border-[#212529] rounded-[100px]"
      >
        Investimento em anúncios até R$2.500/mês
      </span>
    </div>
    <div
      class="px-[30px] py-10 rounded-[30px] flex flex-col gap-6"
      style={`background: url(${bgPlanCard}) no-repeat center; background-size: cover;`}
    >
      <h3 class="font-light text-[40px] leading-[100%] text-white">
        <span class="italic">Quero Evoluir</span>
        <span class="text-[48px] font-medium"> Modo Especialista </span>
      </h3>
      <div>
        Assessoria de mídia pagaAssessoria de análise de dados Tudo do outro
        modelo + Criação de criativo de imagem com IA (new) Assessoria de vendas
        e resultados no processo comercial Análise da jornada do seu cliente
        para identificação do ICP
      </div>
      <div>
        <button>exclusivo</button>
        <span>
          1 Treinamento de atendimento/vendas com parceiros estratégicos com
          foco em melhorar a conversão de vendas | ANUAL
        </span>
      </div>
      <button> Investimento em anúncios até R$5.000/mês </button>
    </div>
  </div>
</div>
