---
import chevronRight from '../assets/icons/chevron-right.svg';
---

<a
  href="https://api.whatsapp.com/send?phone=5588999030508&text=Olá%2C%20quero%20vender%20mais%20com%20anúncios"
  class="px-4 py-2 bg-[#151515] text-white rounded-[30px] flex gap-2 items-center max-w-[225px] font-light text-[14px] leading-[21px] w-full justify-between self-end"
>
  CONVERSAR AGORA
  <div
    class="size-[35px] rounded-[17.5px] bg-white flex justify-center items-center"
  >
    <img src={chevronRight.src} alt="" />
  </div>
</a>
