---
import ChevronRight from '@lucide/astro/icons/chevron-right';
---

<a
  href="https://bit.ly/wpp-eichefe-ads"
  target="_blank"
  class="px-4 py-2 bg-[#151515] text-white rounded-[30px] flex gap-2 items-center max-w-[225px] font-light text-[14px] leading-[21px] w-full justify-between self-end"
>
  CONVERSAR AGORA
  <div
    class="size-[35px] rounded-[17.5px] bg-white flex justify-center items-center"
  >
    <ChevronRight class="text-[#151515] size-3.5" />
  </div>
</a>
