---
interface Props {
  className?: string;
}

import { cn } from '@/lib/utils';

const { className } = Astro.props;
---

<div
  class={cn('px-4 flex flex-col gap-14 lg:flex-row ', className)}
  id="meu-trabalho"
>
  <div class="flex flex-col gap-4 max-w-[696px] w-full">
    <h2 class="italic font-light text-[48px] leading-[120%] text-black">
      Por que deveria contratar meu serviço para sua empresa
    </h2>
    <p class="text-base leading-[19.2px] text-[#333333] font-normal">
      Principais clientes atendidos
    </p>
  </div>
  <div class="flex flex-col gap-6 max-w-[844px] w-full">
    <div
      class="py-[56px] px-6 bg-black text-white flex flex-col lg:flex-row gap-10 rounded-[40px]"
    >
      <img
        src="/images/attachment.webp"
        alt=""
        class="rounded-[20px] lg:max-w-[354px] w-full object-cover"
        height="437"
        loading="lazy"
      />
      <div class="flex flex-col gap-6">
        <h3
          class="text-[32px] leading-[115.99999999999999%] italic font-extrabold"
        >
          1° Contribuição com times de produto e tecnologia
        </h3>
        <p class="text-base font-normal leading-[115.99999999999999%]">
          Ajudo de forma estratégica nas atualizações de produtos junto com
          colegas que trabalham para grandes soluções como Sóeducador e Estetus.
          <br />
          <br />
          Meu trabalho vai além do tráfego, criei persona para estas empresas o que
          ajuda a entender o comportamento do cliente, ajuda a criar novas campanhas
          personalizadas e melhorar o tom das mensagens. Além de clarear a escolha
          de novos canais de aquisição
        </p>
      </div>
    </div>
    <div
      class="py-[56px] px-6 bg-black text-white flex flex-col gap-6 rounded-[40px] lg:flex-row"
    >
      <div class="flex flex-col gap-6">
        <h3
          class="text-[32px] leading-[115.99999999999999%] italic font-extrabold"
        >
          2° Recomendação de conteúdos
        </h3>
        <p class="text-base font-normal leading-[115.99999999999999%]">
          Uma coisa é solicitar novos anúncios, outras é sugerir conteúdos
          orgânicos que podem gerar mais tráfego. Diferentes de outros gestores,
          recomendo inserção de novos conteúdos para rede sociais e melhoria
          dentro do site de vendas, recomendação de linha editorial no youtube.
          <br />
          <br />
          Tudo isso para aumentar a presença da marca. Minha experiência com diversas
          mídias sociais que proporciona ter bons olhos para novos conteúdos.
        </p>
      </div>
      <img
        src="/images/meeting.webp"
        alt=""
        class="rounded-[20px] w-auto max-w-[362px] h-[437px] object-cover object-top"
        loading="lazy"
      />
    </div>
    <div
      class="py-[56px] px-6 bg-black text-white flex flex-col gap-6 rounded-[40px]"
    >
      <h3
        class="text-[32px] leading-[115.99999999999999%] italic font-extrabold"
      >
        3° Parceria de confiança
      </h3>
      <p class="text-base font-normal leading-[115.99999999999999%]">
        Ao longo de cinco anos de trabalhos na área de anúncios pagos, tenho
        feito apenas laços de amizades com meus clientes, visando se conectar
        com os seus propósitos de negócios.
        <br />
        <br />
        O que quero dizer, é que construo um contrato visando uma parceria de longo
        prazo e não apenas faturamento, é neste marketing que acredito.
      </p>
    </div>
  </div>
</div>
